// app global css

.q-layout {
  background-color: #fafafa;
}

.q-layout-footer {
  box-shadow: none;
}

.profile {
  height: 130px;
  background-color: #009688;
  padding: 5%;
}

.user-name {
  left: 90px;
  bottom: 77px;
  position: relative;
  width: 159px;
}
   
.user-actions {
  left: 90px;
  bottom: 71px;
  position: relative;
  width: 171px;
}

.q-layout-page{
  padding: 20px;
}

.q-card-title{
  padding-left: 10px;
  color:#FFFFFF;
}

.q-card-primary {
  background-color: #009688;
  padding: 10px;
}

.q-card-main{
  padding: 0px;
  background-color: #FFFFFF;
}

.q-table th {
  font-weight: bold;
}